<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dice Roller</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/lz-string@1.5/libs/lz-string.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v6.7.2/js/all.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="material-colors.css" />
  </head>
  <body>
    <main id="app" style="display: none">
      <div v-if="debug">
        <h1>Dice Roller</h1>
        <textarea v-model="debugData" rows="10"></textarea><br />
        <div v-if="diceSides > 9" class="red-800">
          Dice cannot be greather than 9 sides
        </div>
        <a v-if="debugData.length" :href="debugUrl" target="_blank"
          >Output link</a
        >
        <br />
        <br />
        <hr />
      </div>
      <div class="header" v-html="header"></div>
      <div class="dice">
        <template v-for="dice, index in dices" :key="`dice-${i}`">
          <svg
            class="svg-inline--fa"
            focusable="false"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
          >
            <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
            <path fill="currentColor" :d="getDiceSvg(dice)" />
          </svg>
        </template>
      </div>
      <button
        v-if="debug || !readonly && !alreadyRolled"
        @click="roll"
        :disabled="rolling"
      >
        Roll the dice
      </button>
      <template v-if="debug || alreadyRolled">
        <div class="amber-800" v-html="alreadyRolledText"></div>
      </template>
      <template v-if="debug || readonly || alreadyRolled">
        <div
          class="green-800"
          v-if="debug || success"
          v-html="successText"
        ></div>
        <template v-if="debug || !success">
          <div class="red-800" v-html="failureText"></div>
        </template>
      </template>
    </main>
  </body>
</html>
