/* 
=================================================
https://www.joshwcomeau.com/css/custom-css-reset/
================================================= 
*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* 
=================================================
CUSTOM STYLE
================================================= 
*/

:root {
  /* https://materialui.co/colors/ */
  --hue-primary: 300;
  --sat-primary: 30%;
  --background: hsl(var(--hue-primary), var(--sat-primary), 96%);
  --background-primary: hsl(var(--hue-primary), var(--sat-primary), 93%);
  --background-secondary: hsl(var(--hue-primary), var(--sat-primary), 90%);
  --color-primary: hsl(var(--hue-primary), var(--sat-primary), 50%);
  --text-primary: hsl(var(--hue-primary), var(--sat-primary), 25%);
  --text-secondary: hsl(var(--hue-primary), var(--sat-primary), 30%);
}

/* 
=================================================
https://blog.koley.in/2019/339-bytes-of-responsive-css
https://www.swyx.io/css-100-bytes
https://gist.github.com/JoeyBurzynski/617fb6201335779f8424ad9528b72c41
================================================= 
*/

html,
body {
  padding: 0;
  max-width: 100%;
  color: var(--text-primary);
  font-family: "Roboto", Verdana, serif;
}

body {
  background-color: var(--background);
}

main {
  padding: 1.5rem;
  margin: auto;
  background-color: var(--background-primary);
  min-height: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.9em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 0.5em;
}

p,
ul,
ol {
  margin-bottom: 2em;
  color: var(--text-secondary);
}

textarea,
input,
select,
.mono {
  font-family: "Roboto Mono", monospace;
}

textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

a {
  color: inherit;
}

@media only screen and (min-width: 768px) {
  main {
    max-width: 42rem;
  }
  table {
    font-size: inherit;
  }
}

/* 
=================================================
APP STYLE
================================================= 
*/

.header {
  margin: 2em 0 1rem;
}

.dice {
  font-size: 10rem;
  width: 100%;
  margin: 0;
  text-align: center;
  line-height: 1em;
}

.dice svg {
  display: inline-block;
  margin: 0 0.05em;
}

button {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 1em;
  margin-bottom: 0.75em;
  border: 1px solid var(--color-primary);
  border-radius: 0.5em;
  background-color: var(--background);
  cursor: pointer;
}

button:hover {
  background-color: var(--background-secondary);
}
